#parent {
    width: 100%;
    float: left;
    margin-top: 100px;
    margin-right: 15px;
    margin-left: 15px;
}

#leftdiv {
    float: left;
    border: 1px solid black;
    min-width: 300px;
    width: 35%;
    height: 846px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#ordersDiv {
    overflow: scroll;
    height: 603px;
}

#totalDiv {
    margin-top: 5px;
    height: 192px;
}

#rightdiv {
    float: left;
    border: 1px solid green;
    min-width: 300px;
    width: 60%;
    height: 846px;
    overflow: scroll;
}

.checkbox {
    width: 20px;
}

#total {
    float: right;
}

#tax {
    float: right;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.productbtn {
    margin: 5px;
}

#selectBtn {
    float: right;
}

#addBtn {
    float: right;
    width: 163.063px;
}

#customerInfoDivInner {
    margin: 15px;
}

#totalDivInner {
    margin: 15px;
}

#rightdivInner {
    margin: 15px;
}


img {
    height: 165.99px;
    width: 220px;
}

#orderHistoryDiv {
    margin-top: 100px;
    max-height: 800px;
    /*border: 1px solid black;*/
    overflow: scroll;
}

.paymentBtn {
    margin-left: 4px;
}

.xl-modal {
    width: 90% !important;
    max-width: 1200px !important;
}

.med-modal {
    width: 35% !important;
    max-width: 1200px !important;
    max-height: 900px !important;
    overflow: scroll !important;
}

/*.info-panel {
    width: 35%;
}*/

/*#deliveryPanel{
    float:right;
}*/

#orderHistory {
    overflow: scroll;
    height: 345px;
    /*float:left;
    width:65%;*/
}

/*#messagePanel{
    float:right;
}*/

#infoDiv {
    float: right;
    width: 30%;
}

#orderedProductsHistory {
    /*overflow: scroll;
    height: 200px;*/
    float: left;
    width: 65%;
    height: 748px;
    /*border: 1px solid black;*/
}

#orderDetailsTotalDiv {
    text-align: right;
}

.i {
    width: 50%;
}

#inventoryContainer {
    margin-top: 100px;
}

#invProductCell {
    width: 255px;
}

.thInv {
    background-color: saddlebrown;
    color: white;
    text-align: center;
}

.invQuantityInput {
    width: 60px;
    height: 34px;
    font-size: large;
}

#amountPay {
    width: 200px;
}

#deliveryDiv {
    margin-top: 100px;
}

.min.minimized {
    height: 40px;
}

.min {
    width: 28px;
    height: 28px;
}

.deliveryLeftDiv {
    float: left;
    /*width:45%;*/
    width: 33%;
}

.deliveryMiddleDiv {
    float: left;
    width: 33%;
}

.deliveryRightDiv {
    float: left;
    /*margin-left:50px;*/
    /*width:45%;*/
    width: 30%;
}

#filters {
    float: left;
}

#monthFilter, #dateFilter, #filterByDiv {
    float: left;
    margin-right: 10px;
}

#orderDiv {
    margin-top: 100px;
}

#tableDiv {
    overflow: scroll;
    height: 550px;
}

/*.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/Uploads/ajax-loader (1).gif') 50% 50% no-repeat rgb(249,249,249);
}*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

#processPaymentBtn, #deductFromAcountBtn {
    width: 208.08px;
}

.customPadding {
    width: 375px;
}

#pdfModalDialog{
    width:800px !important;
    height:850px !important;
}

#viewPdfIFrame {
    /*position: absolute;*/
    /*top: 164px;
    left: 270px;*/
}

#iFrameDiv{
    width:700px;
    height:750px;
}

#containerDiv{
    overflow: scroll;
    height: 650px;
}

#customersDiv{
    margin-top:100px;
     overflow: scroll;
    height: 850px;
}

#customersSearchDiv input{
    margin-right:35px;
    margin-bottom:15px;
    float:right;
}

#accountHistoryDiv{
    overflow: scroll;
    height: 300px;
}

/*#pdfModal{
    width:650px !important;
    height: 1050px !important;
}*/

/*#iFrameDiv {
    /*margin: 30px;*/
    /*position: relative;
    overflow: hidden;
    height: 1000px;
    width: 1000px;*/
/*}*/
