#parent {
    width: 100%;
    float: left;
    margin-top: 100px;
    margin-right: 15px;
    margin-left: 15px;
}

#leftdiv {
    float: left;
    /*border: 1px solid black;*/
    min-width: 300px;
    width: 35%;
    height: 800px;
    margin-right: 5px;
}

#ordersDiv{
    border: 1px solid black;
    overflow: scroll;
    height:573px;
}

#totalDiv{
    margin-top:5px;
    border: 1px solid black;
}

#rightdiv {
    float: left;
    border: 1px solid green;
    min-width: 300px;
    width: 60%;
    height: 800px;
    overflow: scroll;
}

.checkbox{
    width:20px;
}

#total{
    text-align:right;
}

#tax{
    text-align:right;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align:center;
}

img{
    margin:5px;
}

