#parent {
    width: 100%;
    float: left;
    margin-top: 100px;
    margin-right: 15px;
    margin-left: 15px;
}

#leftdiv {
    float: left;
    border: 1px solid black;
    min-width: 300px;
    width: 35%;
    height: 846px;
    margin-right: 5px;
    margin-bottom:10px;
}

#ordersDiv {
    overflow: scroll;
    height: 603px;
}

#totalDiv {
    margin-top: 5px;
    /*border: 1px solid black;*/
    height:192px;
}

#rightdiv {
    float: left;
    border: 1px solid green;
    min-width: 300px;
    width: 60%;
    height: 846px;
    overflow: scroll;
}

.checkbox {
    width: 20px;
}

#total {
    float: right;
}

#tax {
    float: right;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

img {
    margin: 5px;
}

#selectBtn {
    float: right;
}

#customerInfoDivInner {
     margin:15px;
}

#totalDivInner {
    margin:15px;
}

#rightdivInner{
   margin:15px;
}

#notes{
    width:500px;
}
