<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CakesPos.Data.Properties.Settings.CakesPosConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=CakesPos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>