@section Styles{
    <link href="~/Content/themes/orderStyles.css" rel="stylesheet" />
}

<div id="parent">
    <div id="leftdiv">
        <div id="ordersDiv">
            <div id="customerInfoDiv">
                <div id="customerInfoDivInner">
                    <button class="btn btn-lg btn-success" id="selectBtn" data-toggle="modal" data-target="#searchCustomerModal">Select customer</button>
                    <h3>Suchi Waldman</h3>
                    <h4>613 W. Kennedy Blvd. <br />Lakewood NJ 08701</h4>
                    <h5>917-836-1907</h5>
                </div>
            </div>
            <br />
            <br />
            <label><input type="checkbox" style="width:50px;" />Cateter</label>
            <br />
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>X</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger">X</button></td>
                    <td>Caramel Log</td>
                    <td><input class="input input-sm" type="number" value="3" /></td>
                    <td>65</td>
                </tr>
            </table>
        </div>
        <div id="totalDiv">
            <div id="totalDivInner">
                <h3>Discount  <input class="input-sm" /></h3>
                <h3>Total items: 10</h3>
                <h1 id="total">Total: $583.00</h1>
                <button class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#checkoutModal">Checkout >>></button>
            </div>
        </div>
    </div>
    <div id="rightdiv">
        <div id="rightdivInner">
            <btn class="btn btn-lg btn-success">Cakes</btn>
            <btn class="btn btn-lg btn-success">Minitures</btn>
        </div>
        <img src="~/images/Candy-Cake.jpg" />
        <img src="~/images/Caramel-Loaf.jpg" />
        <img src="~/images/chestnut-log.jpg" />
        <img src="~/images/Lemon-Bombe.jpg" />
        <img src="~/images/Lemon-cake.jpg" />
        <img src="~/images/Square-Meringue.jpg" />
        <img src="~/images/Strawberry-Shortcake.jpg" />
        <img src="~/images/The-14-Layer.jpg" />
        <img src="~/images/Triangle.jpg" />
    </div>
</div>

<div id="searchCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Customer</h4>
            </div>
            <div class="modal-body">
                <label>Search  <input class="input" type="search" /></label>
                <br />
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Select</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="checkoutModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Checkout</h4>
            </div>
            <div class="modal-body">
                <div >
                    <label>Pickup <input type="radio" id="pickup" name="deliveryOpt" /></label>
                </div>
                <div>
                    <label>Delivery <input type="radio" id="delivery" name="deliveryOpt" /></label>
                </div>
                <div id="deliveryInfoDiv" style="display: none;">
                    <label>First Name <input /></label>
                    <label>Last Name <input /></label>
                    <label>Address <input /></label>
                    <label>City <input /></label>
                    <label>State <input /></label>
                    <label>Zip <input /></label>
                </div>
                <div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>