@section Styles{
    <link href="~/Content/themes/orderStyles.css" rel="stylesheet" />
}

<div id="parent">
    <div id="leftdiv">
        left content
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>X</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            v
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
            <tr>
                <td></td>
                <td>Caramel Log</td>
                <td>3</td>
                <td>65</td>
            </tr>
        </table>
        <br />
        <br/>
        <h1 id="total">Total: $583.00</h1>
    </div>
    <div id="rightdiv">right content</div>
</div>