@model CakesPos.OrdersViewModel


@section Styles{
    <link href="~/Content/themes/orderStyles.css" rel="stylesheet" />
}

<div id="parent">
    <div id="leftdiv">
        <div id="ordersDiv">
            <div id="customerInfoDiv">
                <div id="customerInfoDivInner">
                    <button class="btn btn-lg btn-success" id="selectBtn" data-toggle="modal" data-target="#searchCustomerModal">Select customer</button>
                    <button class="btn btn-lg btn-primary" id="addBtn" data-toggle="modal" data-target="#newCustomerModal">New customer</button>
                    <h3>Suchi Waldman</h3>
                    <h4>613 W. Kennedy Blvd. <br />Lakewood NJ 08701</h4>
                    <h5>917-836-1907</h5>
                </div>
            </div>
            <br />
            <br />
            <label><input type="checkbox" style="width:50px;" />Cateter</label>
            <br />
            <table class="table table-bordered table-hover table-striped" id="orderTable">
                <tr>
                    <th>X</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                @*<tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger">X</button></td>
                        <td>Caramel Log</td>
                        <td><input class="input input-sm" type="number" value="3" /></td>
                        <td>65</td>
                    </tr>*@
            </table>
        </div>
        <div id="totalDiv">
            <div id="totalDivInner">
                <h3>Discount  <input class="input-sm discount" /> <button id="refresh" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button></h3>
                <h3 id="totalItems">Total items: 0</h3>
                <h1 id="total">Total: $0.00 @*${{quantity | json}}*@</h1>
                <button class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#checkoutModal">Place Order</button>
            </div>
        </div>
    </div>
    <div id="rightdiv">
        <div id="rightdivInner">
            @foreach (CakesPos.Data.Category category in Model.categories)
            {
                <btn class="btn btn-lg btn-success categorybtn" data-category=@category.Id>@category.CategoryName</btn>
            }

        </div>
        <div id="cakesDiv">
            <div id="productsInnerDiv">
                @foreach (CakesPos.Data.Product product in Model.products)
                {
                    string productName = product.ProductName.ToString();
                    <button class="btn productbtn" data-id=@product.Id data-content="@productName" data-price=@product.Price data-instock=@product.InStock><img src="/Uploads/@product.Image.ToString()" /></button>
                }
            </div>
        </div>
    </div>
</div>

<div id="searchCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Customer</h4>
            </div>
            <div class="modal-body">
                <label>Search  <input class="input" type="search" /></label>
                <br />
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Select</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="checkoutModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Checkout</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>Pickup <input type="radio" id="pickup" name="deliveryOpt" /></label>
                </div>
                <div>
                    <label>Delivery <input type="radio" id="delivery" name="deliveryOpt" /></label>
                </div>
                <br />
                <div class="form-group" id="deliveryInfoDiv" style="display: none;">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" name="city" id="city" placeholder="City">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" class="form-control" name="state" id="state" placeholder="State">
                    </div>
                    <div class="form-group">
                        <label>Zip</label>
                        <input type="text" class="form-control" name="zip" id="zip" placeholder="Zip">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label>Required Date</label>
                    <input type="date" class="form-control" name="requiredDate" id="requiredDate">
                </div>
                <div class="form-group">
                    <label>Credit Card</label>
                    <input type="text" class="form-control" name="creditCard" id="creditCard" placeholder="Credit card">
                </div>
                <div class="form-group">
                    <label>Expiration</label>
                    <input type="text" class="form-control" name="expiration" id="expiration" placeholder="Expiration">
                </div>
                <div class="form-group">
                    <label>Sercurity Code</label>
                    <input type="text" class="form-control" name="sercurityCode" id="sercurityCode" placeholder="Sercurity Code">
                </div>
                <div class="form-group">
                    <label>Notes</label>
                    <textarea type="text" class="form-control" name="notes" id="notes" placeholder="Notes"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="newCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Customer</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="firstname" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" id="city" placeholder="City">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="state" id="state" placeholder="State">
                </div>
                <div class="form-group">
                    <label>Zip</label>
                    <input type="text" class="form-control" name="zip" id="zip" placeholder="Zip">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>